body{
    display:flex;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}
button{
    display:inline-block;
    width:87.5px;
    height:65px;
    border-radius: 15px;
}
button:hover{
    font-size: x-large;
    font-weight: 900;
}
.number, .sign{
    background-image: linear-gradient(135deg, white, rgb(227, 227, 227));
}
.equal button{
    width:175px;
    background-color: white;
}
.operator{
    background-image: linear-gradient(135deg, lightgrey, rgb(158, 158, 158));
}
.clear button,.backspace button{
    width: 87.5px;
    background-image: linear-gradient(135deg, rgb(250, 185, 64), rgb(239, 156, 0));
}

.container{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgb(62, 62, 62), rgb(51, 50, 50));
    width: 420px;
    height:520px;
}
.display2{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    width:350px;
    height: 60px;
    margin-left: -10px;
}
.display1{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size:40px;
    width: 350px;
    height:40px;
    margin-left: -10px;
}
.display-container{
    display:flex;
    width: 350px;
    height: 100px;
    border-radius:20px;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
}
[class*="button-row"]{
    display: flex;
    width:350px;
    height:65px;
}